<h1 id="title" class="title">Paste Refresh Token</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <textarea
      nbInput
      #refresh_token="ngModel"
      [(ngModel)]="user.refresh_token"
      id="text-area-refresh-token"
      name="text-area-refresh-token"
      placeholder="Refresh token"
      rows="5"
      fullWidth
      autofocus
      [required]="getConfigValue('forms.validation.refresh_token.required')"
      [minlength]="getConfigValue('forms.validation.refresh_token.minLength')"
      [maxlength]="getConfigValue('forms.validation.refresh_token.maxLength')"
      [status]="refresh_token.dirty ? (refresh_token.invalid  ? 'danger' : 'success') : ''"
      [attr.aria-invalid]="refresh_token.invalid && refresh_token.touched ? true : null"
      shape="rectangle">
    </textarea>
    <ng-container *ngIf="refresh_token.invalid && refresh_token.touched ">
      <p class="caption status-danger" *ngIf="refresh_token.errors?.required">
        Refresh token is required!
      </p>
      <p class="caption status-danger" *ngIf="refresh_token.errors?.minlength || refresh_token.errors?.maxlength">
        Refresh token should contains
        from {{getConfigValue('forms.validation.refresh_token.minLength')}}
        to {{getConfigValue('forms.validation.refresh_token.maxLength')}}
        characters
      </p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Log In
  </button>
</form>

<!--<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">-->
<!--  or enter with:-->
<!--  <div class="socials">-->
<!--    <ng-container *ngFor="let socialLink of socialLinks">-->
<!--      <a *ngIf="socialLink.link"-->
<!--         [routerLink]="socialLink.link"-->
<!--         [attr.target]="socialLink.target"-->
<!--         [attr.class]="socialLink.icon"-->
<!--         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>-->
<!--      <a *ngIf="socialLink.url"-->
<!--         [attr.href]="socialLink.url"-->
<!--         [attr.target]="socialLink.target"-->
<!--         [attr.class]="socialLink.icon"-->
<!--         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>-->
<!--    </ng-container>-->
<!--  </div>-->
<!--</section>-->

<!--<section class="another-action" aria-label="Register">-->
<!--  Don't have an account? <a class="text-link" routerLink="../register">Register</a>-->
<!--</section>-->
