::ng-deep {

  .fantasy-player {

    &-position {
      background-color: #8f9bb3;
      border-radius: 5px;
      padding: 0 5px;
      font-weight: 700;
      color: black;

      &-forward {
        background-color: rgb(255, 117, 94);
      }
      &-midfielder {
        background-color: rgb(127, 255, 110);
      }
      &-defense {
        background-color: rgb(88, 195, 232);
      }
      &-goalkepper {
        background-color: rgb(235, 202, 94);
      }

    }

    &-status {
      background-color: rgb(158, 158, 158);
      border-radius: 50%;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      font-weight: 900;

      &-ok {
        background-color: rgb(127, 255, 110);
      }
      &-doubtful {
        font-size: 1.5em;
        background-color: rgb(235, 199, 40);
      }
      &-injured {
        font-size: 1.5em;
        background-color: rgb(235, 199, 40);
      }
      &-suspended {
        font-size: 1.5em;
        background-color: rgb(255, 92, 29);
      }
    }

  }

}
