@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}

@mixin ng2-smart-table-overrides() {
  ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete {
    height: auto;
  }
  ng2-smart-table .ng2-smart-actions ng2-st-tbody-custom {
    display: flex;
  }
  ng2-smart-table .ng2-smart-actions a.ng2-smart-action:not(:last-child) {
    border-right: 0 solid transparent;
  }
}
