<ngx-fantasy-stuff></ngx-fantasy-stuff>

<button nbButton (click)="setData()">Set Data</button>

<nb-card>
  <nb-card-header>
    Ranking
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="rankingTableSettings" [source]="rankingData">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    My Sub Page
  </nb-card-header>

  <nb-card-body>
    Content
    <ng2-smart-table [settings]="settings" [source]="data">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
